body {
    margin: 0;
    background-color: #f7f8ff;
    
}

img {
    pointer-events: none;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}