.result-page {
    margin-top: 2em;
}

.result-block {
    margin-bottom: 2em;
}

.result-block .result-items {
    margin-top: 1em;
}

.found-num {
    color: gray;
    margin-bottom: 1em;
}

.page-title {
    margin-bottom: 1em !important;
    margin-top: 1em !important;
}

.owners-page {
    margin-top: 2em;
    margin-bottom: 2em;
}

.filters {
    margin-top: 1.5em;
    margin-bottom: 2em;
    display: flex;
    align-items: flex-end;
}

.filter {
    margin-right: 2em;
}

.filter-title {
    font-weight: 500 !important;
}

#demo-mutiple-chip {
    color: #FFF;
}

.platform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profession-title {
    margin-top: 1em !important;
}

.platform-logo {
    width: 6em;
}

.section {
    margin-top: 4em;
    margin-bottom: 4em;
}

@media (max-width: 900px) {
    .platform-logo {
        width: 4em;
    }
}