.search-section {
    height: 88.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background: url('./background-main.svg');
}

.search-section .search {
    margin-top: 3em;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.search-description {
    width: 50%;
}

.search .search-button {
    background-color: rgba(236, 240, 241,1.0);
    border: none;
    color: #2c3e50;
    cursor: pointer;
    border-radius: 5%;
    padding: 15px 32px;
    font-size: 1em;
    margin-left: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.search-button:hover {
    background-color: rgba(236, 240, 241, 0.5);
}

.bg-searchvbar {
    width: 30em;
}

.bg-button {
    height: auto;
}

.MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.23) !important;
}

.makeStyles-mainSearchBar-5 .MuiInputBase-root {
    color: rgba(255, 255, 255, 1) !important;
}

.makeStyles-mainSearchBar-5 .MuiFormLabel-root {
    color: rgba(255, 255, 255, 1) !important;
}

@media (max-width: 900px) {
    .bg-searchvbar {
        width: 15em;
    }

    .search-description {
        width: 100%;
    }
}